@page "/"
@page "/Home"
@using CommonComponents.Services
@rendermode InteractiveServer
@inject IJSRuntime js

<PageTitle>Главная</PageTitle>

<h1>Привет, мир! [@RendererInfo.Name]</h1>

Добро пожаловать в ваше новое приложение.

<button class="btn btn-primary" @onclick="Invoke">JS</button>

@code {
    private DeviceInfoService test;

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        test = new DeviceInfoService(js);
        var deviceInformation = test.GetDeviceInfo(HttpContext);
        await base.OnInitializedAsync();
    }

    private async Task Invoke()
    {
        var size = await test.GetViewportSize();
        var deviceInformation = await test.GetDeviceInfo();
    }
}