@{
    ViewData["Title"] = "Выйти из системы";
}

<div class="jumbotron">

    <h1>Выйти из системы</h1>

    <p class="lead text-left">Вы уверены, что хотите выйти из системы?</p>

    <form asp-controller="Authorization" asp-action="Logout" method="post">
        @* Передайте параметры запроса таким образом, чтобы они могли быть получены с помощью LogoutPostaction: *@
        @foreach (var parameter in Context.Request.HasFormContentType ?
           (IEnumerable<KeyValuePair<string, StringValues>>) Context.Request.Form : Context.Request.Query)
        {
            <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <input class="btn btn-lg btn-success" name="Confirm" type="submit" value="Да" />
        @Html.AntiForgeryToken()
    </form>
</div>