@attribute [Route(Const.IdentityRoute.AccountManage.ChangePassword)]

@inject IAccountManager AccountManager

<PageTitle>Изменить пароль</PageTitle>

<h3>Изменить пароль</h3>

<StatusMessage Message="@AccountManager.Message" />

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.OldPassword" id="Input.OldPassword" class="form-control"
                           autocomplete="current-password" aria-required="true" placeholder="Введите старый пароль" />
                <label for="Input.OldPassword" class="form-label">Старый пароль</label>
                <ValidationMessage For="() => Input.OldPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.NewPassword" id="Input.NewPassword" class="form-control"
                           autocomplete="new-password" aria-required="true" placeholder="Введите новый пароль" />
                <label for="Input.NewPassword" class="form-label">Новый пароль</label>
                <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control"
                           autocomplete="new-password" aria-required="true" placeholder="Введите новый пароль" />
                <label for="Input.ConfirmPassword" class="form-label">Подтвердите пароль</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Обновить пароль</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private ChangePasswordInputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await AccountManager.ChangePasswordOnInitializedAsync(HttpContext);
    }

    private async Task OnValidSubmitAsync()
    {
        await AccountManager.ChangePasswordOnValidSubmitAsync(HttpContext, user, Input);
    }
}
