<PageTitle>Генерация кодов восстановления двухфакторной аутентификации (2FA)</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@AccountManager.Message" />
}
else
{
    <h3>Генерация кодов восстановления двухфакторной аутентификации (2FA)</h3>

    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>Сохраните эти коды в надёжном месте.</strong>
        </p>
        <p>
            Если вы потеряете свое устройство и у вас не будет кодов восстановления, вы потеряете доступ к своей учетной записи.
        </p>
        <p>
            Генерация новых кодов восстановления не изменяет ключи, используемые в приложениях аутентификации. Если вы хотите изменить ключ,
            используемый в приложении аутентификации, вам следует
            <a href="@IdentityConst.IdentityRoute.AccountManage.ResetAuthenticator">сбросить ключи аутентификации</a>.
        </p>
    </div>

    <div>
        <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
            <AntiforgeryToken />
            <button class="btn btn-danger" type="submit">Генерация кодов восстановления</button>
        </form>
    </div>
}
