
@inject IUserManager UserManager

@if (externalLogins.Count() == 0)
{
    <div>
        <p>
            Внешние службы аутентификации не настроены. См. эту 
            <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                статью о настройке этого приложения ASP.NET для поддержки входа через внешние службы
            </a>.
        </p>
    </div>
}
else
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <div>
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <p>
                @foreach (var provider in externalLogins)
                {
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" 
                            title="Войдите, используя свой @provider.DisplayName аккаунт">
                        @provider.DisplayName
                    </button>
                }
            </p>
        </div>
    </form>
}

@code {
    private IEnumerable<AuthenticationScheme> externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = await UserManager.GetExternalAuthenticationSchemesAsync();
    }
}
