@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            <h1>Управляйте своим аккаунтом</h1>

            <div>
                <h2>Измените настройки своей учетной записи</h2>
                <hr />
                <div class="row">
                    <div class="col-lg-3">
                        <ManageNavMenu />
                    </div>
                    <div class="col-lg-9">
                        @Body
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>
