@if (string.IsNullOrEmpty(DisplayMessage) == false)
{
    string statusMessageClass = DisplayMessage.StartsWith("Ошибка") ? "danger" : "success";
    
    <div class="alert alert-@statusMessageClass" role="alert">
        @DisplayMessage
    </div>
}
