<ul class="nav nav-pills flex-column">

    <li class="nav-item">
        <NavLink class="nav-link" href="@IdentityConst.IdentityRoute.AccountManage.Index" Match="NavLinkMatch.All">Профиль</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Home">Главная</NavLink>
    </li>
</ul>

@code {

}
