@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            <h1>Панель администратора пользователей и ролей</h1>

            <div>
                <h2>Администрирование пользователей и ролей</h2>
                <hr />
                <div class="row">
                    <div class="col-lg-3">
                        <AdminNavMenu />
                    </div>
                    <div class="col-lg-9">
                        @Body
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>