<ul class="nav nav-pills flex-column">

    <li class="nav-item">
        <NavLink class="nav-link" href="@IdentityConst.IdentityRoute.Admins.UserAndRoleEditor" Match="NavLinkMatch.All">
            UserAndRoleEditor
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Home">Главная</NavLink>
    </li>
</ul>
