<button id="@Settings.Id"
        type="@Settings.Type.GetAttributeValue("type")"
        class="@Settings.Class"
        @attributes="Settings.AttributeSettings?.Attributes"
        @onclick="Click">
    @ChildContent
</button>

