@rendermode _renderAssigned

<PageTitle>Счетчик</PageTitle>

<h1>Счетчик</h1>

<p role="status">Текущий счет: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Нажмите на меня</button>
