@if (RendererInfo.IsInteractive == false)
{
    <div class="col">
        <div class="row">
            <center>
                Подождите, идет переход в интерактивный режим ...
            </center>
        </div>
        <div class="row">
            <Spinner />
        </div>
    </div>
}
else
{
    @ChildContent
}
