<PageTitle>Забыли пароль?</PageTitle>

<h1>Забыли пароль?</h1>

<h2>Введите свой адрес электронной почты.</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username"
                           aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email" class="form-label">Электронная почта</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Сбросить пароль</button>
        </EditForm>
    </div>
</div>
