@attribute [Route(IdentityConst.IdentityRoute.Account.Login)]

@inject IUserManager UserManager

<PageTitle>Авторизоваться</PageTitle>

<h1>Авторизоваться</h1>
<div class="row">
    <div class="col-lg-6">
        <section>
            <StatusMessage Message="@UserManager.Message" />

            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h2>Для входа используйте локальную учетную запись.</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username"
                               aria-required="true" placeholder="name@example.com" />
                    <label for="Input.Email" class="form-label">Электронная почта</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control"
                               autocomplete="current-password" aria-required="true" placeholder="пароль" />
                    <label for="Input.Password" class="form-label">Пароль</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div class="checkbox mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                        Запомнить меня
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Авторизоваться</button>
                </div>
                <div>
                    <p>
                        <a href="@IdentityConst.IdentityRoute.Account.ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p>
                        <a href="@UserManager.GetUrlAccountRegister(ReturnUrl)">
                            Зарегистрируйтесь как новый пользователь
                        </a>
                    </p>
                    <p>
                        <a href="@IdentityConst.IdentityRoute.Account.ResendEmailConfirmation">Повторно отправить подтверждение по электронной почте</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <section>
            <h3>Используйте другой сервис для входа.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private LoginInputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UserManager.IsGetSignOutAsync(HttpContext);
    }

    public async Task LoginUser()
    {
        await UserManager.LoginUser(Input, ReturnUrl);
    }
}
