<PageTitle>Двухфакторная аутентификация</PageTitle>

<h1>Двухфакторная аутентификация</h1>
<hr />

<StatusMessage Message="@UserManager.Message" />

<p>Ваш вход защищён приложением-аутентификатором. Введите код аутентификатора ниже.</p>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="RememberMe" value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.TwoFactorCode" id="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label for="Input.TwoFactorCode" class="form-label">Код аутентификатора</label>
                <ValidationMessage For="() => Input.TwoFactorCode" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label for="remember-machine" class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMachine" />
                    Запомни эту машину
                </label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Авторизоваться</button>
            </div>
        </EditForm>
    </div>
</div>
<p>
    Нет доступа к устройству аутентификации? Вы можете
    <a href="@(IdentityConst.IdentityRoute.Account.LoginWithRecoveryCode)?ReturnUrl=@ReturnUrl">войти с помощью кода восстановления</a>.
</p>
