@page "/Account/LoginWith2fa"

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWith2fa> Logger

<PageTitle>Двухфакторная аутентификация</PageTitle>

<h1>Двухфакторная аутентификация</h1>
<hr />
<StatusMessage Message="@message" />
<p>Ваш вход защищён приложением-аутентификатором. Введите код аутентификатора ниже.</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-2fa" OnValidSubmit="OnValidSubmitAsync" method="post">
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="RememberMe" value="@RememberMe" />
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.TwoFactorCode" id="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label for="Input.TwoFactorCode" class="form-label">Код аутентификатора</label>
                <ValidationMessage For="() => Input.TwoFactorCode" class="text-danger" />
            </div>
            <div class="checkbox mb-3">
                <label for="remember-machine" class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMachine" />
                    Запомни эту машину
                </label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Авторизоваться</button>
            </div>
        </EditForm>
    </div>
</div>
<p>
    Нет доступа к устройству аутентификации? Вы можете
    <a href="Account/LoginWithRecoveryCode?ReturnUrl=@ReturnUrl">войти с помощью кода восстановления</a>.
</p>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery]
    private bool RememberMe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Убедитесь, что пользователь сначала прошел через экран ввода имени пользователя и пароля
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("Не удалось загрузить пользователя с двухфакторной аутентификацией.");
    }

    private async Task OnValidSubmitAsync()
    {
        var authenticatorCode = Input.TwoFactorCode!.Replace(" ", string.Empty).Replace("-", string.Empty);
        var result = await SignInManager.TwoFactorAuthenticatorSignInAsync(authenticatorCode, RememberMe, Input.RememberMachine);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Пользователь с идентификатором '{UserId}' вошел в систему с помощью 2fa.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Учетная запись пользователя с идентификатором '{UserId}' заблокирована.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Неверный код аутентификации введен для пользователя с идентификатором '{UserId}'.", userId);
            message = "Ошибка: неверный код аутентификатора.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(7, ErrorMessage = "Длина {0} должна быть не менее {2} и не более {1} символов.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Код аутентификатора")]
        public string? TwoFactorCode { get; set; }

        [Display(Name = "Запомни эту машину")]
        public bool RememberMachine { get; set; }
    }
}
