<PageTitle>Подтверждение регистрации</PageTitle>

<h1>Подтверждение регистрации</h1>

<StatusMessage Message="@UserManager.Message" />

@if (emailConfirmationLink is not null)
{
    <p>
        В настоящее время в этом приложении не зарегистрирован реальный отправитель электронной почты.
        Подробнее о настройке реального отправителя электронной почты см. в <a href="https://aka.ms/aspaccountconf">этих документах</a>.
        Обычно это письмо отправляется по адресу: <a href="@emailConfirmationLink">Нажмите здесь, чтобы подтвердить свою учётную запись</a>
    </p>
}
else
{
    <p role="alert">Пожалуйста, проверьте свою электронную почту, чтобы подтвердить свою учетную запись.</p>
}

