<PageTitle>Сброс подтверждения пароля</PageTitle>

<h1>Сброс подтверждения пароля</h1>

<p role="alert">
    Ваш пароль сброшен. Пожалуйста, <a href="@IdentityConst.IdentityRoute.Account.Login">нажмите здесь, чтобы войти</a>.
</p>
